.p-plus-container {
  position: relative;
}

.p-plus {
  display: flex;
  position: relative;
  z-index: 1;
}

.p-plus--clone {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 5px);
  pointer-events: none;
  visibility: hidden;
}

.p-plus--clone,
.p-plus--clone .p-plus__primary-wrapper {
  overflow: hidden;
}

.p-plus--is-showing-overflow .p-plus__overflow {
  display: block;
}

.p-plus:not(.p-plus--is-showing-toggle) .p-plus__toggle-btn {
  display: none;
}

.p-plus--is-hiding-primary .p-plus__toggle-btn {
  flex-grow: 1;
}

.p-plus--is-hiding-primary .p-plus__primary-wrapper {
  display: none;
}

.p-plus__primary-wrapper {
  display: flex;
  flex-grow: 1;
}

.p-plus__primary {
  display: flex;
  flex: 1 0 auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.p-plus__primary > li {
  flex: 1 0 auto;
}

.p-plus__overflow {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}

.p-plus__toggle-btn {
  flex-shrink: 0;
}

.slick-slider {
  display: block;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-track,
.slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: hand;
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
}

.slick-hidden {
  display: none !important;
}

.slider {
  visibility: hidden;
}
.slider.slick-initialized {
  visibility: visible;
}

.component-switcher-components {
  display: grid;
  grid-template-columns: [full-start] minmax(20px, 1fr) [main-start] minmax(0, 1535px) [main-end] minmax(20px, 1fr) [full-end];
}
@media (min-width: 1024px) {
  .component-switcher-components {
    grid-template-columns: [full-start] minmax(30px, 1fr) [main-start] minmax(0, 1535px) [main-end] minmax(30px, 1fr) [full-end];
  }
}

.component-switcher {
  grid-column: full;
  position: relative;
  overflow: hidden;
}
.component-switcher-selector {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  transform: translateX(-100%);
  transition: ease-in-out 0.25s;
  opacity: 0.75;
}
.component-switcher-selector:active, .component-switcher-selector:focus, .component-switcher-selector:hover, .component-switcher-selector.-focused {
  transform: translateX(0);
  opacity: 1;
}
.component-switcher-selector > a {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 40px;
  background-color: #ed6954;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
  border: 0;
  padding: 0 10px;
  transition: none;
}
.component-switcher-selector > a.-active {
  background-color: #de3217;
  cursor: default;
}
.component-switcher-selector > a.-active::before {
  content: "";
  position: absolute;
  right: -15px;
  width: 15px;
  height: 100%;
  background: #de3217;
}
.component-switcher-selector > a.-active::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 6px;
  border-color: transparent transparent transparent #fff;
  transform: translateY(-50%);
}
.component-switcher-selector > a:not(.-active):active, .component-switcher-selector > a:not(.-active):focus, .component-switcher-selector > a:not(.-active):hover, .component-switcher-selector > a:not(.-active).-focused {
  background-color: #b02812;
  transition: background-color 0.25s ease-in-out;
}
.component-switcher-components > *:not([data-cs-visibility=show]) {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.component-switcher-components [data-cs-visibility=show] {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
/*# sourceMappingURL=sourcemaps/static.css.map */
